!!!
%html
  %body
    :textile
      #{File.read(File.join(Dir.pwd, 'README.textile'))}
          
    .download{:style => 'position: absolute; bottom: 0px; right: 5px; font-size: 11px; margin: 1em 0px;'}
      2010 Max Ogden.
      %a{:href => "http://github.com/maxogden/jsonpify", :style => "color: #44B7C6"}
        Get the source on Github
